.hero{
    text-align:center;
    padding:30px;
}

.logo-title{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
}

.logo{
    width:100px;
    height:100px;
}

.logo-title h1{
    font-size:32px;
}